---
layout: default
---


{% include hero_bg.html %}
<section class="Hero--Section">
	<div class="container">
		<div class="Gird--Outline">
			<div class="Grid">
				<div class="Cover--XSmall-9 Cover--Small-8 Cover--Medium-6 Cover--Large-5">
					<div class="Covered--Inside">
						<div class="Name--Card">
							<h6>Hey there!</h6>
							<h1>Dinesh Pandian</h1>
						</div>
						<p class="Desc">
							I'm a UI/UX Designer and Developer based in India. I have an obsession with making things pixel perfect.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% include about.html %}
{% include skill.html %}

//
//
//






