---
layout: default
---


{% include hero_bg.html %}

<section class="Hero--Section">
	<div class="container">
		<div class="Gird--Outline">
			<div class="Grid">
				<div class="Cover--XSmall-12 Cover--Small-12 Cover--Medium-6 Cover--Large-5">
					<div class="Covered--Inside">
						<div class="Name--Card">
							<h6>Hello, my name is</h6>
							<h1>Dinesh Pandian</h1>
						</div>
						<p class="Desc">
							I'm the UI/UX Developer based in india. I make everything pixel perfect.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include skill.html %}







