<section id="about" class="Section--Space About--Hero">
	<div class="About--BG"></div>
	<div class="container">
		<h3 class="Section--Title">
			About Me
		</h3>
		<div class="Section--About">
			<p>I have a Computer Science degree from Madurai, even though I never really wanted to get in to Computer Science. But I ended up here, since it was cool at that time. I then enjoyed the simplicity of C, making the computer do things that I wrote is pretty awesome.</p>
			<p>When I completed Engineering, I actually didn't know what to do.  It was thanks to a couple of my friends who told me about Web Designing, the likes of HTML/CSS/JS. The thing is, I never liked HTML either, I used to fail in college. :p I am actually not good at drawing either, but I loved seeing beautiful designs and felt that was the most important thing, since that's what the user first sees. I have horrible handwriting too, but I love admiring great typography.</p>
			<p>My first job was a Web Developer at <a href="http://ehost24x7.in/corp/" target="_blank">Tekexplore</a>. I worked there for about one and a half years where I got really deep into HTML, CSS, JQuery and JavaScript. This is when I realized I love creating my own designs.</p>
			<p>I now work at <a href="https://www.skcript.com/" target="_blank">Skcript</a>, as the Design Lead. I do Product Design, Wire-framing, Logo Design, UI/UX Design and Development. You'll see my work in <a href="https://skcript.com/shrink" target="_blank">Shrink</a>, Evolvr, <a href="https://allt.in" target="_blank">Allt</a> and <a href="https://understandbetter.co/" target="_blank">UnderstandBetter</a>.</p>
		</div>
	</div>
</section>
