<section id="about" class="Section--Space About--Hero">
	<div class="About--BG">
		<img src="../media/section_bg.jpg">
	</div>
	<div class="container">
		<h3 class="Section--Title">
			About me
		</h3>
		<div class="Section--About">
			<p>I have a BE Computer Science Engineering in Madurai, never really wanted to get in to Computer Science. But I ended up here, since it was cool at that time. I then enjoyed the simplicity of C, making the computer do things that I wrote is pretty awesome. When I completed Engineering, I actually didn’t know what to do. It was thanks to a couple of my friends who told me about Web Designing, the likes of HTML/CSS/JS. The thing is, I never liked HTML either, I used to fail in college. :P I am actually not good at drawing either, but I loved seeing beautiful designs and felt that was the most important thing, since that’s what the user first sees. I have horrible handwriting too, but I love admiring great typography.</p>
			<p>After that I Join <a href="http://ehost24x7.in/corp/" target="_blank">Tekexplore</a> here I work as Web Developer for 1.3 years and i learn deep about HTML,CSS,JQuery and JavaScript. But I love to create My own design.</p>
			<p>After i Choose to work in <a href="https://www.skcript.com/" target="_blank">skcript technologies pvt. ltd</a> here I am working as Design Lead majorly here I do product Design, Wireframe, Logo Design, UI/UX Design and Development. here I done some products Shrink, <a href="https://allt.in" target="_blank">Allt</a>, <a href="understandbetter.co" target="_blank">UnderstandBetter</a>.</p>
		</div>
	</div>
</section>