<footer>
	<hr />
	<ul class="Social--Network">
		<li>
			<a class="twitter" href="https://twitter.com/dineshUX" target="_blank">Twitter</a>
		</li>
		<li>
			<a class="facebook" href="https://www.facebook.com/dineshux" target="_blank">Facebook</a>
		</li>
		<li>
			<a class="instagram" href="https://www.instagram.com/dineshux/" target="_blank">Instagram</a>
		</li>
	</ul>
	<p class="Copyright">Copyright &copy; 2016 dineshux.in</p>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/dinesh.js"></script>