<footer>
	<a href="https://site.uplabs.com/posts/personal-site-concept" target="_blank">
		<img src="/media/best_of_the_day.png" class="img-responsive">
	</a>
	<ul class="Social--Network">
		<li>
			<a class="twitter" href="https://twitter.com/dineshux" target="_blank">Twitter</a>
		</li>
		<li>
			<a class="facebook" href="https://www.facebook.com/dineshux" target="_blank">Facebook</a>
		</li>
		<li>
			<a class="instagram" href="https://www.instagram.com/dineshux/" target="_blank">Instagram</a>
		</li>
		<li>
			<a class="Medium" href="https://medium.com/@dineshux" target="_blank">Medium</a>
		</li>
		<li>
			<a class="Dribbble" href="https://dribbble.com/dineshux" target="_blank">Dribbble</a>
		</li>
		<li>
			<a class="Uplabs" href="https://www.uplabs.com/dineshux" target="_blank">Uplabs</a>
		</li>
		<li>
			<a class="Behance" href="https://www.behance.net/dienshux" target="_blank">Behance</a>
		</li>
	</ul>
	<!-- <p class="Copyright">Copyright &copy; 2016 dineshux.in</p> -->
</footer>
