<section class="Section--Space">
	<div class="container">
		<h3 class="Section--Title">
			Expert In
		</h3>
		<div class="Gird--Outline">
			<div class="Grid--XSmall-1 Grid--Small-3 Grid--Medium-3 Grid--Medium-3">
				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/prototyping.svg" />
							<h6>prototyping</h6>
							<p>Make project and draw with good workflow.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/responsive_design.svg" />
							<h6>Responsive Web Design</h6>
							<p>Create website design using Sketch app and done code by HTML.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/sketch_3.svg" />
							<h6>Sketch</h6>
							<p>Design and creating logo,UI and vector images by sketch application.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/code.svg" />
							<h6>HTML,SCSS &amp; Javascript</h6>
							<p>I done code by Pixel perfect using this languages.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/project_design.svg" />
							<h6>Project Design</h6>
							<p>I can able to do product Design.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>