<section id="skill" class="Section--Space">
	<div class="container">
		<h3 class="Section--Title">
			Expert In
		</h3>
		<div class="Gird--Outline">
			<div class="Grid--XSmall-1 Grid--Small-2 Grid--Medium-3 Grid--Medium-3">
				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/prototyping.svg" />
							<h6>Prototyping</h6>
							<p>I put myself in the shoes of users, and try to create an experience that actually solves problems.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/responsive_design.svg" />
							<h6>Responsive Web Design</h6>
							<p>I believe design should be ubiquitous, design should mold itself to fit in everywhere, magically.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/project_design.svg" />
							<h6>Project Design</h6>
							<p>Showcasing all the hardwork of backend engineers in a beautiful and functional way.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/code.svg" />
							<h6>HTML, SCSS &amp; Javascript</h6>
							<p>The most versatile tools in any designers workshops. I try to nail pixel perfect-ness with these.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/sketch.svg" />
							<h6>Sketch</h6>
							<p>By far my most favorite prototyping tool. I create logos, UI mockups and vector images.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/ps.svg" />
							<h6>Photoshop</h6>
							<p>I create UI designs, UI mockups Via this tool.</p>
						</div>
					</div>
				</div>

				<div class="Covered">
					<div class="Covered--Inside">
						<div class="Skill--Set">
							<img src="../media/icons/ai.svg" />
							<h6>Illustrator</h6>
							<p>I create vector images via this tool.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
