.My--Icon{
	margin:200px auto 20px;
	text-align: center;
	.Image{
		@extend .Profile--XLarge;
		@extend .imgFill;
	}
	h1{
		font-weight: 200;
		text-transform: uppercase;
	}
}

body{
	    background: #d6d6d6;
}
.container {
    background: #f5f5f5;
    min-height: 100vh;
}
