body{
	font-family: 'Open Sans', sans-serif;
}

.My--Icon{
	margin:200px auto 20px;
	text-align: center;
	.Image{
		@extend .Profile--XLarge;
		@extend .imgFill;
	}
	h1{
		font-weight: 200;
		text-transform: uppercase;
	}
}

body{
	background: $white;
}

.container{
	width: 960px;
}

.Hero--PlayGround{
	background-image: url("");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -75px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  img{
  	width: 100%;
  }
}

.Hero--Section{
	color: $black;
	margin-top: 145px;
	.Name--Card{
		margin-bottom: 25px;
		h6{
	    font-size: 18px;
	    margin-bottom: 0;
	    margin-left: 5px;
	    font-weight: 600;
		}
		h1{
	    font-size: 50px;
	    margin-top: 5px;
		}
	}
	.Desc{
		font-size: 16px;
	}
}

@media (min-width: 1300px){
	body{
		max-width: 1300px;
	}
}
