.Header{
  min-height: inherit !important;
  background-color: transparent;
  margin-top: 35px;
  margin-bottom: 0px !important;
	.navbar-brand{
		img{
			width: 50px;
		}
	}
	.Nav--Right{
		padding: 20px 0;
		li{
			a{
				color: #fff;
				font-size: 15px;
				text-transform: uppercase;
				font-weight: 600;
				&:hover, &:focus{
					background-color: transparent;
				}
			}
		}
	}
}