.Section--About{
	padding-right: 150px;
	p{
		font-size: 18px;
		line-height: 1.7;
		margin-bottom: 20px;
		color: $black;
		font-weight: 400;
		a{
			color: $link; 
			@extend .transition;
			&:hover{
				color: $link_hover;
			}
		}
	}
}

.About--Hero{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: 90%;
	background-repeat: no-repeat;
	background-image: url(../media/section_bg.jpg);
}