.Skill--Set{
  min-height: 200px;
  padding-right: 45px;
	img{
    height: 50px;
    margin-bottom: 15px;
	}
	h6{
		font-size: 22px;
    font-weight: 300;	
  }
	p{
		font-size: 14px;
		font-weight: 400;
		color: #777;
	}
}